Package: estab
Version: 0.2.1
Section: utils
Priority: optional
Architecture: amd64
Essential: no
Depends: libc6 (>= 2.12)
Maintainer: Martin Czygan
Description: Command line elasticsearch export tool. Exports TSV or raw documents.
